@media print {

	/* ---
	1 - Global
	--- */

	body {
		overflow: unset;
	}

	p, tr, li {
		orphans: 3;
	}

	a[href]:not([onclick]):after {
		content: " (" attr(href) ")";
	}

	/* ---
	2 - Containers
	--- */

	/* app containers */
    aside,
	.graph-wrapper,
	/* record elements */
	.record-focus-container,
	.record-btn-close {
		display: none !important;
	}

	/* ---
	3 - Record main
	--- */

	main.record-container {
		position: unset;
		width: 100%;
		height: unset;
		overflow: unset;
		box-shadow: unset;
	}

    main.record-container header:before{ 
        content:url(img/image.jpg) ;
        position:relative; 
        left:-3px;
        top:10px;
	}

	/* ---
	4 - Record footer
	--- */

	main.record-container footer {
		break-before: page;
	}

	[data-context]::after {
		content: attr(data-context);
		position: unset;
		border-radius: 2px;
		padding: 0.8rem;
		font-style: italic;
	}
}