mixin record-listing(index)
    ul
        each link in index
            li(
                class='id-link',
                title=link.id,
                onclick='openRecord(' + link.id + ')') #{link.title}

//- ===========

ul(id='record-list')

    //-------- alphabetical

    li(id='record-list-alphabetic', class='record-sorting active')
        +record-listing(index)

    //-------- alphabetical reversed

    - var index = index.reverse();

    li(id='record-list-alphabetic-reverse', class='record-sorting')
        +record-listing(index)

    //-------- by time

    - var index = index.sort(function(a, b) { if (a.mtime < b.mtime) {return -1; } if (a.mtime > b.mtime) { return 1; } });

    li(id='record-list-bytime', class='record-sorting')
        +record-listing(index)

    //-------- by time reversed

    - var index = index.reverse();

    li(id='record-list-bytime-reverse', class='record-sorting')
        +record-listing(index)