doctype html

html(lang='fr')
    head
        meta(charset='utf-8')
        title Cosma - Cosmoscope
        style
            include graph-style.css
        script
            include d3.js

    body
        include graph-d3.html
        script
            include graph-script.js
        script
            include graph-data.js