@charset "UTF-8";

:root{
	--cosma-blue: #147899;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}
html * { box-sizing: border-box }
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1.4rem;
	overflow: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

button { cursor: pointer; margin: 0.2rem; }
a { color: inherit; }
[onclick] { cursor: pointer; }

/* FILTRES */

li.filter {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
}

li.filter label {
	margin-left: 0.8rem;
	width: 100%;
}

/* INDEX */

.search-bar { width: 100%; margin-bottom: 0.8rem; }
#search-result-list { margin-bottom: 20px; }

aside {
	position: relative;
	z-index: 100;
    overflow: auto;
    height: 100%;
    width: 300px;
    margin: 0;
    padding: 0 20px 30px 20px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.head-load-bar {
	height: .3em;
	padding: 1px;
	display: flex;
	margin: 1rem 0;
	background-color: rgb(243, 243, 243);
}
.head-load-bar #head-load-bar-value {
	background-color: var(--cosma-blue);
	flex-basis: 100%
}
.alpha_bar:active #alpha_value {
	background-color: #222
}

.record-sorting:not(.record-sorting.active) { display: none; }

/* CONTRÔLES */

article {
	padding: 2rem 0;
}
.controls article+article {
	border-top: 1px solid rgb(236, 236, 236);
}
.controls .control-head>label {
	font-weight: bold;
	font-size: 1.4rem;
}
.controls .counter {
	font-family: monospace;
	margin-left: 0.2rem;
}
.controls input[type="range"] { width: 100%; }

.zoom-controls {
    position: absolute;
	display: flex;
	flex-direction: column;
    left: 20px;
    bottom: 20px;
    flex-wrap: wrap;
}
.zoom-controls button { margin-top: 0.8rem; }
.zoom-controls div { display: flex; justify-content: space-between; }
.zoom-controls #reset-isolate { display: none; }
.zoom-controls #reset-highlight { display: none; }

aside footer {
	width: 100%;
	margin-top: 1rem;
	background-color: white;
}

.a-propos {
	display: block;
	font-family: monospace;
	text-align: center;
}

/* GRAPHE */

.graph-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: calc(100vw - 300px);
}

#graph_canvas {
	width: 100%;
	height: 100%;
}

#graph_canvas line {
	stroke:var(--link);
}

/* Couleur des noeuds selon le type de fiche */
circle {
	fill: grey;
	/* valeur par défaut (restera si type=undefined) */
	stroke: grey;
	cursor: pointer;
}
circle:hover {
	stroke: yellow;
}
/* Infobulles */
.tip_type {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 8pt;
}
.tip_title {
	font-weight: thin;
	font-size: 14pt;
}

/* FICHES */

.fiche-container {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	padding: 1rem 2rem;
    width: 500px;
    height: 100vh;
    overflow: auto;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transform: translate(100%);
	transition: transform .6s;
    transition-timing-function: cubic-bezier(.02,1.18,0,.98);
}

.fiche-container.active { transform: unset; }

.fiche { display: none; }
.fiche header { font-family: sans-serif; }
/* .fiche header .fiche-id { font-family: monospace; } */
.fiche header div {
	display: flex;
	align-items: baseline;
}
.fiche header div+div { margin-top: 0.8rem; }
.fiche header div span:first-of-type {
	font-size: 1.6rem;
	font-family: monospace;
	margin-right: 0.8rem;
}

/* Adapté de Typesafe.css: */
article.fiche main {font: 16px/1.5 "Georgia", serif;}
article.fiche main h1,h2,h3,h4,h5,h6 {font-family:sans-serif;margin:2.5rem 0 0.5rem;}
article.fiche main h1{font-size:1.2em}
article.fiche main h2{font-size:1.1em}
article.fiche main h3{font-size:1em}
article.fiche main ul, article.fiche main ol {padding: 0; list-style-position: inside;}
article.fiche main ul ul, article.fiche main ol ol {padding-left: 2rem;}
article.fiche main ul li, .fiche ol li {margin:0.5rem 0 0 0;}
article.fiche main img{height:auto;max-width:100%;}
article.fiche main pre{overflow:auto;font-size: 90%;white-space: pre-wrap;}
article.fiche main code{display:inline-block;}
article.fiche main pre code{padding-left:1rem;}
article.fiche main blockquote{border-left:5px solid lightgrey;margin:0;padding-left:1rem;}
article.fiche main table{border-collapse:collapse;margin:2rem 0;text-align:left;width:100%;}
article.fiche main tr{border-bottom:1px solid lightgrey;}
article.fiche main th, article.fiche main td{padding:0.5rem;}
article.fiche main hr{background:lightgrey;border:0;height:1px;margin:2rem 0;}
article.fiche main a {word-wrap: break-word;}
article.fiche header {
	padding-bottom: 1.5rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid black;
}
article.fiche footer {
	margin-top: 3rem;
	border-top: 1px solid black;
}
/* fin */

article#credits {
	text-align: center;
}
article#credits ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
article#credits dt {
	font-weight: bold;
}
article#credits dd, article#credits li {
	margin: 0;
	padding: 0 0 0.5rem 0;
}
details {
	border-top: 1px solid lightgray;
	padding: 1rem 0;
}

details[data-sort] .toggle {
	cursor: pointer;
	text-align: right;
	color: rgb(87, 87, 87);
	font-weight: bold;
	margin-bottom: 0.8rem;
}

details[data-sort] .sort-box:not(.active) {
	display: none;
}

details>summary {
	cursor: pointer;
	font-family: sans-serif;
	margin: 1rem 0;
	font-weight: bold;
	outline: none;
}

summary+button {
	margin: 1rem 0;
}

.list-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-content ul li {
	padding: 0.5rem 0 0.5rem 1rem;
	list-style-position: inside;
}

.list-content ul li.search-result:nth-child(odd),
.list-content ul li.index-entry:nth-child(odd) {
	background-color: rgb(245, 245, 245);
}

.target-type { /* colored dot before links */
	font-size: 0.8em;
	vertical-align: 15%;
	padding-right: 0.2em;
}