.DS_Store
node_modules
package-lock.json

/history
config.yml
custom.css
cosmoscope.html
template/colors.css
template/graph-data.js
*.eot
*.woff
*.ttf
*-webfont.svg

docs/api/*
docs/en.html
docs/fr.html